{% extends "idhub/base_admin.html" %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<h3>
  <i class="{{ icon }}"></i>
  {{ subtitle }}
</h3>
<h5 class="mt-5">eIDAS2</h5>
<div class="row mt-2">
  <div class="col">
      {% render_table eidas2 %}
  </div>
</div>
<div class="row mt-1">
   <div class="form-actions-no-box">
     <a class="btn btn-green-admin" href="{% url 'idhub:admin_dids_new' %}">
       {% trans "Add DID identity" %} <i class="bi bi-plus"></i>
     </a>
   </div>
</div>

<h5 class="mt-5">eIDAS1</h5>
<div class="row mt-2">
  <div class="col">
      {% render_table eidas1 %}
  </div>
</div>
<div class="row mt-1">
   <div class="form-actions-no-box">
     <a class="btn btn-green-admin" href="{% url 'idhub:admin_wallet_config_eidas1' %}">
       {% trans "Add identity eIDAS1" %} <i class="bi bi-plus"></i>
     </a>
   </div>
</div>

<div class="row mt-5">
  <div class="col">
      {% comment %}{% endcomment %}
  </div>
</div>
<!-- Modal -->
{% for d in dids.all %}
<div class="modal" id="confirm-delete-{{ d.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans 'Delete DID' %} "{{ d.label }}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans 'Are you sure that you want delete this DID?' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <a href="{% url 'idhub:admin_dids_del' d.id %}" type="button" class="btn btn-danger">{% trans 'Delete' %}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
