{% extends "idhub/base_admin.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="container m-0 p-0">
  <h3><i class="{{ icon }}"></i> {{ subtitle }}</h3>

  <div class="card mb-2 mt-2">
    <div class="card-header bg-light">
      <h5 class="mb-0">{% trans "Upload DIDs File" %}</h5>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-green-admin">{% trans "Upload" %}</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-light">
      <h5 class="mb-0">{% trans "Existing DIDs" %}</h5>
    </div>
    <div class="card-body">
      {% render_table table %}
    </div>
  </div>
</div>
{% endblock %}
