{% extends "idhub/base_admin.html" %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col">
    <h3>
      <i class="{{ icon }}"></i>
      {{ subtitle }}
    </h3>
  </div>
  <div class="col text-end">
    {% if object.get_status == 'Issued' %}
    <a class="btn btn-yellow" href="{% url 'idhub:user_credential_json' object.id %}">{% trans 'Revoke' %}</a>
    <a class="btn btn-orange" href="{% url 'idhub:user_credential_json' object.id %}">{% trans 'Delete' %}</a>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class="col">
    {% for k, v in object.get_datas %}
    <div class="row mt-3">
      <div class="col-3 text-end">
      <strong>{{ k|capfirst }}:</strong>
      </div>
      <div class="col bg-light text-secondary">
        {{ v }}
      </div>
    </div>
    {% endfor %}
    <div class="row mt-3">
      <div class="col-3 text-end">
      <strong>Date of Issue:</strong>
      </div>
      <div class="col bg-light text-secondary">
        {{ object.issuer_on|default_if_none:"" }}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-3 text-end">
      <strong>Status:</strong>
      </div>
      <div class="col bg-light text-secondary">
        {{ object.get_status}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <a class="btn btn-green-user" href="{% url 'idhub:user_credential_json' object.id %}">{% trans 'View in JSON format' %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
