django==4.2.5
django-bootstrap5==23.3
django-extensions==3.2.3
django-tables2==2.6.0
black==23.9.1
python-decouple==3.8
jsonschema==4.19.1
pandas==2.1.1
xlrd==2.0.1
odfpy==1.4.1
requests==2.31.0
jinja2==3.1.2
jsonref==1.1.0
pyld==2.0.3
pynacl==1.5.0
more-itertools==10.1.0
dj-database-url==2.1.0
PyPDF2
svg2rlg
svglib
cairosvg
pypdf
pyhanko
qrcode
uharfbuzz==0.38.0
fontTools==4.47.0
weasyprint==60.2
ujson==5.9.0
./didkit-0.3.2-cp311-cp311-manylinux_2_34_x86_64.whl
