django==4.2.23
django-bootstrap5==23.3
django-extensions==3.2.3
django-tables2==2.6.0
black==23.9.1
python-decouple==3.8
jsonschema[format]==4.19.1
pandas==2.1.1
numpy>=1.21,<2.0
xlrd==2.0.1
odfpy==1.4.1
requests==2.31.0
jinja2==3.1.2
jsonref==1.1.0
lxml==5.1.0
pyld==2.0.3
pynacl==1.5.0
more-itertools==10.1.0
dj-database-url==2.1.0
faker==21.0.0
PyPDF2
svg2rlg
svglib
cairosvg
pypdf
pyhanko
qrcode
uharfbuzz==0.38.0
fontTools==4.47.0
weasyprint==65.1
pydyf==0.11.0
ujson==5.9.0
openpyxl==3.1.2
jsonpath_ng==1.6.1
pyroaring==0.4.5
coverage==7.4.3
gunicorn==21.2.0
# TODO recover just pyvckit when finished the patch can get merged
#pyvckit
pyvckit @ git+https://github.com/ereuse/pyvckit.git@issue_261__dpp_v3
psycopg2-binary==2.9.10
xlsxwriter==3.2.3
