{% extends "idhub/base.html" %}
{% load i18n %}

{% block content %}
<h3>
  <i class="{{ icon }}"></i>
  {{ subtitle }}
</h3>
{% load django_bootstrap5 %}
<form role="form" method="post">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger alert-icon alert-icon-border alert-dismissible" role="alert">
  <div class="icon"><span class="mdi mdi-close-circle-o"></span></div>
  <div class="message">
    {% for field, error in form.errors.items %}
      {{ error }}<br />
    {% endfor %}
    <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
{% endif %}
{% if form.if_credentials %}
<div class="row">
  <div class="col-sm-4">
    {% bootstrap_form form %}
  </div>
</div>
<div class="form-actions-no-box">
  <a class="btn btn-grey" href="{% url 'idhub:user_credentials' %}">{% trans "Cancel" %}</a>
  <input class="btn btn-green-user" type="submit" name="submit" value="{% trans 'Send' %}" />
</div>
{% else %}
<div class="row">
  <div class="col-sm-4">
    {% trans 'Sorry no there are credentials to present' %}
  </div>
</div>
{% endif %}

</form>
{% endblock %}
