export TEST_DOMAIN='127.0.0.1'
export TEST_SITE="http://${TEST_DOMAIN}:9001"
export TEST_ADMIN_USER='admin@example.org'
export TEST_USER='user1@example.org'
# export TEST_PASSWD='your_shared_password'
